.next
node_modules
dist
build
coverage
*.svg
public
pnpm-lock.yaml
pnpm-workspace.yaml

*.lock
*.lockb
*.lockfile
*.lock.yaml
*.lock.yml
*.lock.json
*.lock.json5

*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*
*.log.*.*.*.*.*

*.env
*.env.*
*.env.*.*
*.env.*.*.*
*.env.*.*.*.*
*.env.*.*.*.*.*

