@import 'tailwindcss';
@import 'tw-animate-css';

/* CSS 변수 */
@theme {
  --color-primary: #ac271e;
  --color-secondary: #e5e3d7;
  --color-white: #fffdfa;
  --color-black: #2d3034;
}

/* 전역 CSS 기본 설정 */
@layer base {
  html {
    font-family:
      -apple-system, BlinkMacSystemFont, 'Apple SD Gothic Neo',
      'Pretendard Variable', Pretendard, Roboto, 'Noto Sans KR', 'Segoe UI',
      'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      sans-serif;
    font-size: 62.5%; /* 10px */
    color: var(--color-black);
    background-color: var(--color-white);
  }

  body {
    -ms-overflow-style: none;
  }
  ::-webkit-scrollbar {
    display: none;
  }
}

@layer utilities {
  /* layout */
  .flex-center {
    @apply flex items-center justify-center;
  }

  /* typography */
  .text-4xl-bold {
    font-size: 4rem;
    line-height: 4.8rem;
    font-weight: 700;
  }
  .text-4xl-semibold {
    font-size: 4rem;
    line-height: 4.8rem;
    font-weight: 600;
  }
  .text-4xl-regular {
    font-size: 4rem;
    line-height: 4.8rem;
    font-weight: 500;
  }
  .text-3xl-bold {
    font-size: 3.2rem;
    line-height: 4rem;
    font-weight: 700;
  }
  .text-3xl-semibold {
    font-size: 3.2rem;
    line-height: 4rem;
    font-weight: 600;
  }
  .text-3xl-regular {
    font-size: 3.2rem;
    line-height: 4rem;
    font-weight: 500;
  }
  .text-2xl-bold {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 700;
  }
  .text-2xl-semibold {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 600;
  }
  .text-2xl-regular {
    font-size: 2.4rem;
    line-height: 3.2rem;
    font-weight: 500;
  }
  .text-xl-bold {
    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: 700;
  }
  .text-xl-semibold {
    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: 600;
  }
  .text-xl-regular {
    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: 500;
  }
  .text-2lg-bold {
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 700;
  }
  .text-2lg-semibold {
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 600;
  }
  .text-2lg-regular {
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 500;
  }
  .text-lg-bold {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 700;
  }
  .text-lg-semibold {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 600;
  }
  .text-lg-regular {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 500;
  }
  .text-lg-small {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 400;
  }
  .text-md-bold {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 700;
  }
  .text-md-semibold {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 600;
  }
  .text-md-regular {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 500;
  }
  .text-md-small {
    font-size: 1.4rem;
    line-height: 2rem;
    font-weight: 400;
  }
  .text-sm-bold {
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 700;
  }
  .text-sm-semibold {
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 600;
  }
  .text-sm-regular {
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 500;
  }
  .text-sm-small {
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 400;
  }
}
